@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.soft-orange{
    color: var(--Soft-orange);
}
.soft-red{
    color: var(--Soft-red);
}
.off-white{
    color: var(--Off-white);
}
.grayish-blue{
    color: var(--Grayish-blue);
}
.dark-grayish-blues{
    color: var(--Dark-grayish-blue);
}
.very-dark-blues{
    color: var(--Very-dark-blue);
}
.flex{
    display: flex;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
    gap: 1.5rem;
}
img,source{
    max-width: 100%;
}
body{
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    background-color: var(--Off-white);
}
ul{
    align-items: center;
    gap: 1.3rem;
    list-style: none;
}
ul a{
    color: var(--Dark-grayish-blue);
}
ul a:hover{
    color: var(--Soft-orange);
}
a{
    text-decoration: none;
}
header{
    justify-content: space-between;
}
main{
    margin-top: 1.3rem;
}
picture{
    grid-column: span 2;
}
.news{
    grid-row: span 2;
    background-color: var(--Very-dark-blue);
    padding: 1.3rem 1rem;
}
article{
    margin: 1.6rem 0;
}
article p{
    margin: .5rem 0;
    font-size: 18px;
}
.news a:hover{
    color: var(--Soft-orange);
}
.title h1{
    font-size: 50px;
}
.title-desc{
    flex-direction: column;
    justify-content: space-between;
}
.title-desc p{
    font-size: 19px;
}
.title-desc button{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: var(--Soft-red);
    color: var(--Off-white);
    height: 50px;
    width: 50%;
    border: none;
}
.title-desc button:hover{
    background-color: var(--Very-dark-blue);
}
.info{
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}
.info a:hover{
    color: var(--Soft-red);
}
.open{
    display: none;
    cursor: pointer;
    border: none;
    background-color: var(--Off-white);
}
.close{
    display: none;
    cursor: pointer;
    border: none;
    background-color: var(--Off-white);
    align-self: flex-end;
    margin-bottom: 3rem;
 }
@media screen and (max-width: 600px) {
    ul{
       display: none !important;
       padding: 1.5rem;
       align-items: flex-start;
       right: 0;
       left: 50%;
       top: 0;
       bottom: 0;
       position: fixed;
       flex-direction: column;
       background-color: var(--Off-white);
    }
    li a{
        font-size: 30px;
        color: var(--Very-dark-blue);
    }
    .open{
       display: flex;
    }
    .close{
        display: flex;
    }   
}
.visible{
    display: flex !important;
}