@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root{
    --Soft-orange: hsl(35, 77%, 62%);
    --Soft-red: hsl(5, 85%, 63%);

    --Off-white: hsl(36, 100%, 99%);
    --Grayish-blue: hsl(233, 8%, 79%);
    --Dark-grayish-blue: hsl(236, 13%, 42%);
    --Very-dark-blue: hsl(240, 100%, 5%);
}

*{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    gap: 1em;
    list-style: none;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

body{
    min-height: 100svh;
    width: 100%;
    padding: 1.6rem;
}

header{
    position: relative;
    align-items: center;
    justify-content: space-between;
}

.nav{
    gap: 1em;
    list-style: none;
}

.nav a{
    color: var(--Dark-grayish-blue);
    text-decoration: none;
}

.nav a:hover{
    color: var(--Soft-red);
}

.main-container{
    padding: 2em 0;
    gap: 1rem;
    grid-template-areas: 'a a b'
                         'a a b'
                         'c c c';
}

.first-wrapper{
    grid-area: a;
}

.second-wrapper{
    padding: 1rem;
    background-color: var(--Very-dark-blue);
    grid-area: b;
}

.third-wrapper{
    grid-area: c;
}

.image-section{
    width: 100%;
}

.sub-sections{
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}

.sub-sections section{
    padding: 1em;
}

.sub-sections section:last-child{
   flex-direction: column;
   gap: 1em;
}

.sub-sections h2{
    font-weight: 800;
    font-size: 3em;
    color: var(--Very-dark-blue);
}

.sub-sections p{
    color: var(--Dark-grayish-blue);
}

.articles-wrapper{
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}


.read-button{
    margin-top: auto;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    width: 50%;
    border: none;
    padding: .5em;
    background-color: var(--Soft-red);
    color: var(--Off-white);
}

.read-button:hover{
    background-color: var(--Very-dark-blue);
}

.news-section h3{
    font-size: 2em;
    color: var(--Soft-orange);
}

.news-section h4{
    margin-bottom: .5rem;
}

.news-section h4 a{
    text-decoration: none;
    color: var(--Off-white);
}

.news-section h4 a:hover{
    color: var(--Soft-orange);
}

.news-section p{
    color: var(--Grayish-blue);
}

.news-section hr{
    border-color: grey;
    margin-top: 1rem;
}

.news-wrapper{
    padding: 1rem 0;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
}

aside{
    padding: 1em;
}

aside span{
    font-weight: 800;
    color: var(--Grayish-blue);
    font-size: 2em;
}

aside h4{
    font-weight: 800;
    margin-bottom: .5em;
}

aside h4 a{
    color: var(--Very-dark-blue);
    text-decoration: none;
}

aside h4 a:hover{
    color: var(--Soft-red);
}

aside p{
    color: var(--Dark-grayish-blue);
}

.menu{
    cursor: pointer;
    border: none;
    background: none;
    display: none;
}

.close{
    width: 40px;
    margin-left: auto;
    cursor: pointer;
    background: none;
    border: none;
    display: none;
}

@media (width <= 680px) {

    .menu{
        display: block;
    }

    .sub-sections{
        gap: 0;
    }

    .close{
        display: block;
    }

    .nav{
        display: none;
        height: 100vh;
        padding: 2em;
        width: 70%;
        flex-direction: column;
        background-color: var(--Off-white);
        position: fixed;
        top: 0;
        right: 0;
        transition: display 0.5s;
    }

    .nav ul{
        flex-direction: column;
    }
    
    .nav::backdrop{
        background: black !important;
    }

    .main-container{
        padding: 2em 0;
        gap: 1rem;
        grid-template-areas: 'a a a'
                             'b b b'
                             'c c c';
    }
}